@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #d3d3d37b;
}

header {
    background-color: #aaaaaa;
    color: white;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
}

header > h1 {
    flex: 0 0 150px;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

nav > a {
    background-color: #2f2f2f;
    color: white;
    border-radius: 3px;
    padding: 7px;
    margin: 5px;
    text-decoration: none;
    text-align: center;
}

nav > a:hover {
    background-color: white;
    color: black;
    transition: background-color .5s;
    cursor: pointer;
}

main {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.463);
}
