@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F2EEEB, #D9D3CC);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #85817db3;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #73655A;
    text-align: center;
    text-shadow: 1px 1px 2px #4e453db9;
}

h2 {
    color: #A68C7C;
}
p {
    text-align: justify;
}